.event-gallery{
	background: #FDF7E8;
	padding-bottom: 100px;
}
.galleries{
	text-align: center;
}
.galleries .gallery-wrap{
	display: inline-block;
}
.galleries .gallery-wrap .display-event{
	padding: 10px 10px 50px 10px;
	background: #FFF;
}
.galleries .gallery-wrap .display-event img{
	border: 0.1px solid #111;
}
.galleries .image-container{
	display: none;
}

.upcoming-events{
	text-align: center;
	/*background: linear-gradient(180deg, #4a949f 30%, #FDF7E8 70%);*/
	background: #FDF7E8;
}
.upcoming-events .events-title{
	font-size: 32px;
	padding: 20px 0;
	text-align: left;
	border-bottom: 1px solid #4a4a4a;
	margin-bottom: 10px;
}
.upcoming-events .events-details{
	padding: 50px 0;
}
.upcoming-events .events-showcase .image-container img{
	max-height: 450px;
}
.upcoming-events .events-details>div{
	display: inline-block;
	margin-right: 30px;
}
.upcoming-events .events-details .download-brochure div a{
	cursor: pointer;
	color: #4a4a4a;
}
.upcoming-events .events-details .registration-button div{
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px 30px;
	background: #4a949f;
	color: #FDF7E8;
}
.upcoming-events .events-details .registration-button .closed{
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	padding: 10px 30px;
	background: #EA526F;
	color: #FDF7E8;
}

.event-item .events-description{
	padding: 50px 0;
}
.event-item .events-description .columns{
	text-align: left;
}
.event-item .events-description .column{
	padding: 0 50px;
}
.event-item .events-description .desc-heading{
	font-size: 28px;
	margin: 20px 0;
	text-align: center;
}
.event-item .events-description .desc-sub-title{
	font-size: 20px;
	font-weight: bold;
	color: #4a949f;
	margin: 20px 0;
}
.event-item .events-description .desc-sub-title > div{
	font-size: 16px;
	color: #EA526F;
}
.event-item .events-description .desc-sub-points{
	font-size: 18px;
}

.view-gallery{
	width: 0%;
	position: fixed;
	height: 100%;
	z-index: 99999;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@media only screen and (min-width: 1024px){
	.event-gallery{
		background: linear-gradient(180deg, #4a949f 30%, #FDF7E8 70%);
	}
}
@media only screen and (max-width: 1024px){
	.galleries .gallery-wrap{
		width: 40%;
		margin: auto;
	}
}
@media only screen and (max-width: 768px){
	.have-space-top{
		padding: 0;
	}
	.upcoming-events .events-title{
		font-size: 24px;
		margin-left: 20px;
	}
	.event-item .events-description .column{
		padding: 0 100px;
	}

}
@media only screen and (max-width: 500px){
	.galleries .gallery-wrap{
		width: 80%;
		margin: auto;
	}
	.event-item .events-description .column{
		padding: 0 20px;
	}
}
