.container-img {
    max-height: 350px;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid var(--black);
}
.container-fluid {
    padding: 100px 0px;
}
.container-fluid .columns, .container-fluid .column{
    margin: auto;
}
.container-fluid .columns{
    text-align: center;
}
@media screen and (max-width: 768px){
    .container-fluid .column{
        display: inline-block;
    }
}